[submodule "vim/pack/jmarquis/start/ctrlp"]
	path = vim/pack/jmarquis/start/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "vim/pack/jmarquis/start/vim-airline"]
	path = vim/pack/jmarquis/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/pack/jmarquis/start/vim-airline-themes"]
	path = vim/pack/jmarquis/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vim/pack/jmarquis/start/vim-gitgutter"]
	path = vim/pack/jmarquis/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/pack/jmarquis/start/vim-fugitive"]
	path = vim/pack/jmarquis/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/pack/jmarquis/start/ale"]
	path = vim/pack/jmarquis/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "vim/pack/jmarquis/start/vim-javascript"]
	path = vim/pack/jmarquis/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/pack/jmarquis/start/vim-indent-guides"]
	path = vim/pack/jmarquis/start/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vim/pack/jmarquis/start/tender"]
	path = vim/pack/jmarquis/start/tender
	url = https://github.com/jacoborus/tender.vim
