[submodule "vim/pack/jmarquis/start/vim-airline"]
	path = vim/pack/jmarquis/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/pack/jmarquis/start/vim-airline-themes"]
	path = vim/pack/jmarquis/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vim/pack/jmarquis/start/vim-gitgutter"]
	path = vim/pack/jmarquis/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/pack/jmarquis/start/vim-fugitive"]
	path = vim/pack/jmarquis/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/pack/jmarquis/start/ale"]
	path = vim/pack/jmarquis/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "vim/pack/jmarquis/start/tender"]
	path = vim/pack/jmarquis/start/tender
	url = https://github.com/jacoborus/tender.vim
[submodule "vim/pack/jmarquis/start/nerdtree"]
	path = vim/pack/jmarquis/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/pack/jmarquis/start/vim-diminactive"]
	path = vim/pack/jmarquis/start/vim-diminactive
	url = https://github.com/blueyed/vim-diminactive.git
[submodule "vim/pack/jmarquis/start/indentLine"]
	path = vim/pack/jmarquis/start/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "vim/pack/jmarquis/start/fzf"]
	path = vim/pack/jmarquis/start/fzf
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vim/pack/jmarquis/start/vim-polyglot"]
	path = vim/pack/jmarquis/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
