[submodule "vim/pack/jmarquis/start/vim-airline"]
	path = vim/pack/jmarquis/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/pack/jmarquis/start/vim-airline-themes"]
	path = vim/pack/jmarquis/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vim/pack/jmarquis/start/vim-gitgutter"]
	path = vim/pack/jmarquis/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/pack/jmarquis/start/vim-fugitive"]
	path = vim/pack/jmarquis/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/pack/jmarquis/start/ale"]
	path = vim/pack/jmarquis/start/ale
	url = https://github.com/w0rp/ale.git
[submodule "vim/pack/jmarquis/start/nerdtree"]
	path = vim/pack/jmarquis/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/pack/jmarquis/start/fzf"]
	path = vim/pack/jmarquis/start/fzf
	url = https://github.com/junegunn/fzf.vim.git
[submodule "vim/pack/jmarquis/start/vim-polyglot"]
	path = vim/pack/jmarquis/start/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "vim/pack/jmarquis/start/youcompleteme"]
	path = vim/pack/jmarquis/start/youcompleteme
	url = https://github.com/valloric/youcompleteme.git
[submodule "vim/pack/jmarquis/start/base16-vim"]
	path = vim/pack/jmarquis/start/base16-vim
	url = https://github.com/chriskempson/base16-vim
[submodule "vim/pack/jmarquis/start/vim-material"]
	path = vim/pack/jmarquis/start/vim-material
	url = https://github.com/hzchirs/vim-material
[submodule "vim/pack/jmarquis/start/auto-pairs"]
	path = vim/pack/jmarquis/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs
[submodule "base16-shell"]
	path = base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "vim/pack/jmarquis/start/ack.vim"]
	path = vim/pack/jmarquis/start/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "vim/pack/jmarquis/start/vim-prettier"]
	path = vim/pack/jmarquis/start/vim-prettier
	url = https://github.com/prettier/vim-prettier
[submodule "vim/pack/jmarquis/start/vim-indent-guides"]
	path = vim/pack/jmarquis/start/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides
[submodule "vim/pack/jmarquis/start/vim-plugin-autosess"]
	path = vim/pack/jmarquis/start/vim-plugin-autosess
	url = https://github.com/powerman/vim-plugin-autosess
[submodule "vim/pack/jmarquis/start/tender"]
	path = vim/pack/jmarquis/start/tender
	url = https://github.com/jacoborus/tender.vim
