keybinds clear-defaults=true {
    locked {
        bind "Ctrl b" { SwitchToMode "Normal"; }
        bind "Alt h" { MoveFocus "Left"; }
        bind "Alt l" { MoveFocus "Right"; }
        bind "Alt j" { MoveFocus "Down"; }
        bind "Alt k" { MoveFocus "Up"; }
    }
    normal {
        bind "Esc" { SwitchToMode "Locked"; }
        bind "Ctrl b" { Write 2; SwitchToMode "Locked"; }
        bind "-" { NewPane "Down"; SwitchToMode "Locked"; }
        bind "|" { NewPane "Right"; SwitchToMode "Locked"; }
        bind "z" { ToggleFocusFullscreen; SwitchToMode "Locked"; }
        bind "c" { NewTab; SwitchToMode "Locked"; }
        bind "," { SwitchToMode "RenameTab"; }
        bind "p" { GoToPreviousTab; SwitchToMode "Locked"; }
        bind "n" { GoToNextTab; SwitchToMode "Locked"; }
        bind "Left" { MoveFocus "Left"; SwitchToMode "Locked"; }
        bind "Right" { MoveFocus "Right"; SwitchToMode "Locked"; }
        bind "Down" { MoveFocus "Down"; SwitchToMode "Locked"; }
        bind "Up" { MoveFocus "Up"; SwitchToMode "Locked"; }
        bind "h" { MoveFocus "Left"; SwitchToMode "Locked"; }
        bind "l" { MoveFocus "Right"; SwitchToMode "Locked"; }
        bind "j" { MoveFocus "Down"; SwitchToMode "Locked"; }
        bind "k" { MoveFocus "Up"; SwitchToMode "Locked"; }
        bind "d" { Detach; }
        bind "x" { CloseFocus; SwitchToMode "Locked"; }
    }
}

plugins {
    tab-bar location="zellij:tab-bar"
    status-bar location="zellij:status-bar"
    strider location="zellij:strider"
    compact-bar location="zellij:compact-bar"
    session-manager location="zellij:session-manager"
    welcome-screen location="zellij:session-manager" {
        welcome_screen true
    }
    filepicker location="zellij:strider" {
        cwd "/"
    }
}

// Toggle between having pane frames around the panes
// Options:
//   - true (default)
//   - false
//
// pane_frames true

ui {
    pane_frames {
        rounded_corners true
        hide_session_name true
    }
}

theme "tokyo-night"
default_layout "compact"
default_mode "locked"
copy_on_select false
